* {
  font-family: sans-serif;
}

body {
  background: url(./background.jpg);
  margin: 0;
  background-repeat: none;
  background-size: cover;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  color: #fff;
  width: 40rem;
  height: 20rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 2rem;
}

h1 {
  justify-self: center;
}

.typing {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
}

.typeinput {
  display: grid;
  grid-template-columns: 10% 90%;
}

i {
  font-size: 1.5rem;
  justify-self: center;
}

input {
  width: 90%;
  height: 2rem;
  border: none;
  padding: 0 0.5rem;
  outline: none;
  color: #000;
  font-size: 1rem;
}

a {
  text-decoration: none;
  width: 50%;
  border: 1px #fff solid;
  padding: 0.5rem 0;
  border-radius: 2rem;
  color: #fff;
  justify-self: center;
  height: 1rem;
  text-align: center;
}

a:hover {
  color: #000;
  background: #fff;
}
.box:hover {
  background: rgba(0, 0, 0, 0.466);
}
