body {
  background: #b8e6e6;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  border: none;
  border-radius: 1rem;
  background: #fff;
  line-height: 3;
  /* width: 25rem; */
  padding: 0 0.5rem;
  font-size: 1rem;
  color: #00c8fa;
  outline: none;
  text-indent: 0.8rem;
  width: 2rem;
  transition: 0.9s ease;
}

.increase {
  width: 25rem;
}

.icon {
  position: absolute;
  top: 0.7rem;
  left: 0.6rem;
  font-size: 1.5rem;
  color: #00c8fa;
  /* perspective: 600px;
  transform-style: preserve-3d; */
  transform: rotateY(0deg);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotateY(90deg);
}
